#modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#modal-content {
    width: 30vw;
    height: 60vh;
    background-color: #FFFFFF;
    position: relative;
    border-radius: 0.5vw;
    padding: 2vh 2vw;
    display: flex;
    flex-direction: column;
}

.close-modal {
    position: absolute;
    top: 1vh;
    right: 1vw;
    width: 2vw;
    height: 2vw;
    color: #FF0000;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 1.3vw;
}

#modal-header {
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 2.5vh;
    color: #1E293B;
    margin: 2vh auto 1vh auto;
}

#email-form {
    height: 35vh;
}

#email-input {
    display: flex;
    flex-direction: column;
    margin: 0.5vh auto;
}

#email-text,
#subject-text,
#message-text {
    color: #1E293B;
}

#subject-input {
    display: flex;
    flex-direction: column;
    margin: 0.5vh auto;

}

#message-input {
    display: flex;
    flex-direction: column;
    margin: 0.5vh auto 0 auto;
}

#email-note {
    font-style: italic;
    font-family: Roboto, sans-serif;
    color: #334155;
    font-size: 0.9vw;
    margin: 0 auto 2.5vh auto;
}

.form-input-box {
    height: 3.4vh;
    margin-bottom: 2vh;
    border-color: #3B82F6;
    border-style: solid;
    color: #334155; 
    font-family: Roboto, sans-serif;
    padding: 0.5vw;
    border-radius: 0.5vw;
}

#form-message-box {
    height: 15vh;
    margin-bottom: 2vh;
    border-color: #3B82F6;
    border-style: solid;
    resize: none;
    color: #334155; 
    font-family: Roboto, sans-serif;
    padding: 0.5vw;
    border-radius: 0.5vw;
}

#submit-button {
    height: 4vh;
    width: 100%;
    color: #FFFFFF;
    background-color: #3B82F6;
    border-style: solid;
    border-color: transparent;
    font-family: Roboto, sans-serif;
    border-radius: 0.5vw;
}
#success-message {
    background-color: #FFFFFF;
    position: fixed;
    width: 25vw;
    height: 17vh;
    border-radius: 0.5vw;
}

#success-message-header {
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 2vh;
    font-weight: 600;
    color: #1E293B;
    margin-top: 3.5vh;
}

#success-message-body {
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 1.6vh;
    color: #1E293B;
    margin: 2.5vh 2vw;
}

@media (max-width: 768px) {
    #modal-content {
        width: 80vw;
        height: 55vh;
        background-color: #FFFFFF;
        position: relative;
        border-radius: 2vw;
        padding: 2vh 2vw;
        display: flex;
        flex-direction: column;
        
    }

    .close-modal {
        position: absolute;
        top: 1vh;
        right: 4.5vw;
        width: 2vw;
        height: 2vw;
        font-size: 4.5vw;
    }

    #email-text,
    #subject-text,
    #message-text {
        color: #1E293B;
        margin-left: 1.2vw;
    }

    .form-input-box {
        height: 3vh;
        width: 95%;
        margin-bottom: 2vh;
        border-color: #3B82F6;
        border-style: solid;
        color: #334155; 
        font-family: Roboto, sans-serif;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 1.2vw;
    }

    #form-message-box {
        height: 15vh;
        width: 95%;
        margin-bottom: 2vh;
        border-color: #3B82F6;
        border-style: solid;
        resize: none;
        color: #334155; 
        font-family: Roboto, sans-serif;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 1.2vw;
    }

    #submit-button {
        height: 3vh;
        width: 90%;
        color: #FFFFFF;
        background-color: #3B82F6;
        border-style: solid;
        border-color: transparent;
        font-family: Roboto, sans-serif;
        display: block;
        margin: 0 auto;
        border-radius: 1.2vw;
    }

    #email-note {
        font-style: italic;
        font-family: Roboto, sans-serif;
        color: #334155;
        font-size: 0.8vh;
        margin: 0 auto 2.5vh auto;
        width: 95%;
    }
}