#experience {
    position: relative;
    height: 70vh;
    width: 70vw;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 2.5vw;
    z-index: 0;
    overflow: hidden;
}

#timeline {
    position: relative;
    display: flex;
    width: 25vw;
    height: 60vh;
}

#timeline-line {
    position: absolute;
    left: 0;
    transform: translateX(-50%);
    width: 0.2vw;
    height: 100%;
    background-color: #CBD5E1;
}

.timeline-entry {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: row;
    transform: translateY(-50%);
}

.timeline-dot {
    position: absolute;
    left: 0;
    transform: translateX(-50%);
    width: 1vw;
    height: 1vw;
    background-color: #E5E7EB;
    border: 0.2vw solid #CBD5E1;
    border-radius: 1vw;
    z-index: 2;
}

.timeline-dot:hover,
.timeline-dot.active {
    background-color: #3B82F6;
    border-color: #1D4ED8;
    cursor: pointer;
}

.timeline-text {
    display: flex;
    flex-direction: column;
    margin-left: 1.5vw;
    padding: 0;
    gap: 0;
}

.timeline-label {
    font-size: 1.2vw;
    color: #1E293B;
    white-space: nowrap;
    margin: 0;
}

.timeline-text p {
    font-size: 1vw;
    color: #475569;
    margin: 0;
}

.timeline-content-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 35vw;
    background-color: #FFFFFF;
    border: 0.2vw solid #E2E8F0;
    border-radius: 0.8vw;
    align-self: center;
    margin-top: 4vh;
}

#timeline-content-not-selected {
    width: 90%;
    text-align: center;
    margin: auto;
    font-family: Poppins, sans-serif;
    font-size: 2vh;
    color: #475569;;
}

#timeline-content-selected {
    width: 90%;
    height: 90%;
}

#timeline-content-selected h3 {
    font-size: 1.2vw;
    color: #1E293B;
}

#timeline-content-selected h4 {
    font-size: 1vw;
    color: #475569;;
}

#timeline-content-selected p {
    font-size: 0.9vw;
    color: #475569;;
}

#timeline-content-selected h3,
#timeline-content-selected h4,
#timeline-content-selected p {
    margin: 0 0 0 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

#timeline-content-selected ul {
    list-style-type: '- ';
    padding: 1.3vh 0.5vw 0 0.5vw;
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 1vw;
    color: #334155;
}

#timeline-content-selected li {
    margin-bottom: 0.8vh;
}

#experience-details-container {
    height: 47vh;
    overflow: scroll;
    scrollbar-width: none;
    margin-bottom: 1vh;
}

.note{
    margin-top: 0.5vh;
    font-family: Poppins, sans-serif;
    font-size: 0.8vh;
    font-style: italic;
    text-align: center;
}

#company-logo {
    height: 1.2vw;
    width: auto;
}

#company-header {
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

@media (max-width: 768px) {
    #experience {
        position: relative;
        height: 80%;
        width: 90%;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 0 auto;
        gap: 0;
        z-index: 0;
        overflow: hidden;
    }

    .timeline-content-container {
        height: clamp(50vh, 55vh, 60vh);
        width: 90vw;
        border-radius: 2vw;
    }

    #company-logo {
        height: 2vh;
        width: auto;
    }

    #timeline-content-selected h3 {
        font-size: 2vh;
    }

    #timeline-content-selected h4 {
        font-size: 1.5vh;
    }

    #timeline-content-selected p {
        font-size: 1.2vh;
    }

    #timeline-content-selected ul {
        font-size: 1.2vh;
        padding: 2vh 0.5vw 0 0.5vw;
    }

    #timeline-content-selected li {
        margin-left: 0.5vh;
    }

    #timeline {
        width: 85vw;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #timeline-line {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        height: 0.2vh;
        z-index: 1;         
    }

    .timeline-entry {
        top: auto !important; 
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 0 2vw;
        transform: none;
        z-index: 2;
    }

    .timeline-dot {
        position: absolute;
        top: 50%;                    
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1vh;
        height: 1vh;
        background-color: #E5E7EB;
        border: 0.2vw solid #CBD5E1;
        border-radius: 50%;
        z-index: 2;
    }

    .timeline-text {
        margin-left: 0;
        margin-top: 6vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        padding: 0;
        gap: 1;
    }
    .timeline-label {
        max-width: 12vw;
        white-space: normal;
        word-break: break-word;
    }
}