.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup {
    position: relative;
    background: white;
    padding: 1rem;
    border-radius: 0.5vw;
    width: 80vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
}
  
.close-button {
    align-self: flex-end;
    margin-bottom: 1rem;
    background: transparent;
    border: none;
    font-size: 1.5vw;
    cursor: pointer;
    color: #FF0000;
}
  
.popup-frame {
    flex: 1;
    border: none;
}