#experience-content {
    margin-top: 10%;
}

#experience-text {
    margin-left: 10%;
    color: rgb(17, 45, 79);
}

#timeline-path {
    width:70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    justify-content: space-evenly;
}

.unlocked-circle {
    border-style: solid;
    display:inline-block;
    position: absolute;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    left:0;
    right:0;
    margin:0 auto;
    top: -18px;
}

.unlocked-circle-background {
    background: RGB(0, 255, 10);
}

.unlocked-circle-background-clicked {
    background: RGB(0, 56, 255);
}

.unlocked-circle:hover {
    background: RGB(0, 56, 255);
}

.locked-circle {
    background: RGB(217, 217, 217);
    display:inline-block;
    position: absolute;
    border-style: solid;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    left:0;
    right:0;
    margin:0 auto;
    top: -18px;
}

.experience {
    margin-top: 20%;
    text-align: center;
    width: 100%;
    color: rgb(17, 45, 79);
}

.experience-pair {
    width: 15%;
    padding-left: 2%;
    padding-right: 2%;
    float: left;
    background-color: black;
    height: 2px;
    position:relative;
}

#personal-details {
    margin-top: 30%;
    margin-left: 3%;
}

#personal-info {
    margin: 0;
    display:inline-block;
}

#personal-info h1{
    color: rgb(17, 45, 79);
}

#personal-info h3{
    color: rgb(55, 78, 92);
}


