#menubar {
    color: rgb(17, 15, 133);
}

ul.menubar-general {
    list-style: none;
    margin: 0;
    padding: 0;
}

li.menubar-download {
    display: inline;
    margin-right: 55%;
    padding: 10px;
}

li.menubar-general {
    display: inline;
    margin-right: 3%;
    padding: 10px;
}